{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <p>Mitt namn är Peter och jag pluggar på BTH. Jag bor i Enköping och spelar annars beachvolleyboll på min fritid och gillar att umgås med vänner.</p>
    <img src="{{ asset('build/images/peter.jpg') }}" alt="">
{% endblock %}