{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="yellow-background">
        <h1>Magic number</h1>
        <p>Welcome to my awesome magical homepage.</p>
        <p>This is the current magic number: {{ number }}</p>
    </div>
{% endblock %}
