{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Här är kursen redovisningstexter</h1>
    <h2 id="kmom01">Kmom01 Redovisning</h2>
    <p>Text</p>
{% endblock %}