{# templates/api/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}API Sammanställning{% endblock %}

{% block body %}
    <h1>API Sammanställning</h1>
    <p>Här är en lista över alla tillgängliga JSON-routes:</p>
    <ul>
        {% for route in routes %}
            <li>
                Path: {{ route.path }}<br>
                Methods: {{ route.methods|join(', ') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
