{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Här är kursen redovisningstexter</h1>
    <h2 id="kmom01">Kmom01 Redovisning</h2>
    <p>Mina tidigare erfarenheter från objektorientering kommer ifrån tidigare kurser på BTH, såsom objektorienterad python.</p>
    <p>För att komma igång och skapa sina första klasser med PHPs modell behöver man till en början veta vad en klass är. Till exempel om vi har bil som en klass så kan den klassen ha egenskaper som färg, märke och storlek. Metoderna är sedan hur man hanterar egenskaperna och som jag förstår det så är objekten för att "lägga" in värden.</p>
    <p>Jag tycker kodbasen i Symfony är ganska komplex, det är väldigt många olika mappar som strukturen är uppbyggd av och till en början kändes det inte helt logiskt. Det börjar klarna lite mer men fortfarande i kursen är jag inte helt hemma med hur det är uppbyggt. Det tar lite tid varje gång jag ska hitta filerna. Jag börjar förstå hyfsat med routes i alla fall och den grundläggande logiken.</p>
    <p>PHP the right way verkar ha ett riktigt gediget innehåll och var väldigt användbart för att hitta information om vissa delar. Hittills har jag mest följt kursens instruktioner och inte behövt artikeln så mycket. Det jag har fått hjälp av hittilss är coding practices som behandlat en del om datum och tid.  </p>
    <p>Min TIL är att bekanta mig med Symfony och använda routes samt klasser och objekt i PHP</p>
{% endblock %}